.f-footer {
    box-shadow: 0 -3px 5px 5px #0000002e;
}

.m-35 {
    top: 35px;
}

.new-post{
    position: absolute;
    top: -85px;
    z-index: 12;
    right: 10px;
}

.cus-loader {
	display: none;
    position: fixed;
    background: #00000057;
    z-index: 20;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100%;
    &.show{
    	display: block;
    }
    .loader-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: #fff;
        z-index: 21;

        img {
            max-width: 100%;
            border: 0;
            width: 40px;
        }
    }
}