.register-page {
.subtitleForm {
  margin: 10px 20px 0;
  line-height: 1.5;
  color: #333;

  a {
    color: #58A827;
  }

}

.login-error{
  color: red;
  font-size: 20px;
  padding: 20px 10px;
  background: #ede5e552;
  margin: 10px;
  border: 1px solid #f0b8b8;
  border-radius: 10px;
  display: flex;
  margin-bottom: 50px;
  .msg{
      vertical-align: top;
      margin-left: 10px;
  }

}
}
.toast-message-p{
  color: #58A827;
  font-size: 20px;
  font-weight: bold;
}
.success-toast{
  background-color: rgba(0,0,0,.5);
  & .toast-wrapper {
    border: 1px solid #58A827;
  }

}